{% extends 'ordersapp/base.html' %}
{% load staticfiles %}

{% block container %}
    <div class="category-delete">
        <div class="h1">Уверены, что хотите удалить?</div>
        {% include 'ordersapp/includes/inc__order_summary.html' %}
        <form action="{% url 'ordersapp:order_delete' object.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn-danger input-order-del" type="submit" value="удалить">
        </form>
        <a href="{% url 'ordersapp:orders_list' %}" class="btn btn-success back">
                отмена
        </a>
    </div>
{% endblock %}